<div class="container">
  <div class="form-user">
    <div class="header">
      <h3>Vamos Começar</h3>
      <h4>Faça seu cadastro</h4>
    </div>
    <form class="formgroup">
      <label>Nome</label>
      <input
        type="text"
        name="Nome"
        placeholder="Insira seu nome"
        autofocus
        required
      />
      <label>E-mail</label>
      <input
        type="email"
        name="email"
        placeholder="insira seu E-mail"
        autofocus
        required
      />
      <label>Data de nascimento </label>
      <input
        type="date"
        name="Nome"
        placeholder="insira sua data de nascimento"
        autofocus
        required
      />
      <label>Telefone</label>
      <input type="tel" name="Telefone" autofocus required />
      <label>Senha</label>
      <input
        type="password"
        name="password"
        placeholder="insira um senha"
        autofocus
        required
      />
      <label>Confirmar Senha</label>
      <input
        type="password"
        name="password"
        placeholder="Confirmar senha"
        autofocus
        required
      />
    </form>
  </div>
</div>
