.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(https://images6.alphacoders.com/774/774373.jpg);
}

.login {
  width: 25vw;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  border: 5px solid rgb(23, 94, 187);
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form {
  input {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
  }
  label {
    display: flex;
    justify-content: center;
  }
}
input:invalid {
  border-color: black;
  color: black;
}

.bottom {
  .btn {
    background-image: linear-gradient(aqua, rgb(10, 121, 248));
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 10rem;
    height: 25px;
    border-radius: 20px;
    outline: none;
    border: none;
  }

  .btn:hover {
    transform: scale(1.05);
    background-color: rgb(16, 187, 187);
    border: 1.5px solid black;
  }

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #000;
  }
}

@media only screen and (max-width: 999px) {
  .login {
    width: 80vw;
    height: 60vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    // flex-direction: column;
    // border-radius: 10px;
    // background-color: white;
    // box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    // gap: 0.5rem;
  }
}
